.banner {
    background-image: url('https://img.freepik.com/free-vector/contact-us-concept-landing-page_52683-12860.jpg?w=740&t=st=1669049440~exp=1669050040~hmac=d64f3a9c5ccb0430ea495c78f9a2f84d22f9f225f042f6d18d6f1f19cbf840e3');
    width: 100vw;
    background-repeat: no-repeat;
    object-fit: cover;
    
}